In [ ]:
import numpy as np
import pandas as pd
path="/content/drive/MyDrive/Data Set/Document from Aashrith"
dd=pd.read_csv(path)
print(dd.head(5))

In [ ]:
print(dd.dtypes)

In [ ]:
print(dd.describe)

In [ ]:
print(dd.isna().sum())

In [ ]:
age_mean = dd['Age'].mean()
dd['Age'].fillna(value=age_mean, inplace=True)

In [ ]:
print(dd.isna().sum())

In [ ]:
dd.drop(columns=['Cabin'], axis=1, inplace=True)
print(dd.head(5))

In [ ]:
passengers_over_40 = dd[dd['Age'] > 40]
passengers_over_40[['Name', 'Age']]

In [ ]:
import pandas as pd
merged_rows = pd.concat([dd.head(2), dd.tail(2)])
merged_rows